nav {
    display: flex;
    /* Alineacion eje primario */
    justify-content: space-between;
    /* Alineacion eje secundario */
    align-items: center;
    
    background-color: pink;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 8px;
}

/*

Propiedad que aplica a los hijos pares de tipo li de la ul dentro del nav
nav ul li:nth-child(odd) {
    background-color: red;
}

Propiedad que aplica al hijo numero 2 de la section que debe ser de tipo article
Si el segundo hijo de la section no es de tipo article, esta propiedad no se va a aplicar
section article:nth-child(2) {
    background: orange;
}

Propiedad que aplica al segundo hijo article de la section 
section article:nth-of-type(2) {
    background: purple;
}

section article:first-child {
    background: purple;
}

section article:last-child {
    background: purple;
}

*/

button {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    background: blue;
    cursor: pointer;
}

button:hover /* Hover board */ {
    display: none;
}

a:visited {
    color: red
}

a:active {
    background: green
}